@import "../../../assets/_general";

.container-fluid {
  header {
  }
  section {
    @include flex(row, center, center, wrap, 0.5rem);
  }
}

.noprod {
  width: 50%;
  text-transform: capitalize;
  margin: 10rem auto;
  display: flex;
  justify-content: center;
}
